<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <link rel="stylesheet" href="__PUBLIC_STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC_STATIC__/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="layui-admin-body">
        <div class="layui-input-block ml0 mb10">
            <a class="layui-btn" href="{:url('/index/goods/goodAdd')}">增加商品</a>
            <a class="layui-btn" href="{:url('/index/goods/goodList')}?store_id={$_GET['store_id']?:0}?order_id={$_GET['order_id']?:0}">购物车添加商品</a>
            <a class="layui-btn" href="{:url('/index/order/showOrderRow',['order_id' => isset($_GET['order_id']) ?$_GET['order_id']: 0])}">查看购物车</a>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>购买数量</th>
                    <th>商品总价钱</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <input type="hidden" class="store_id" value="{$store_id}">
                <input type="hidden" class="order_id" value="{$order_id}">
                {notempty name="goodlist"}
                {volist name="goodlist" id="item"}
                <tr>
                    <td>{$item['name']}</td>
                    <td>{switch $item['type']}
                        {case:1}食物{/case}
                        {case:2}家具{/case}
                        {case:3}电器{/case}
                        {/switch}
                    </td>
                    <td>
                        <div class="change-num-div">
                            <a data-url="{:url('/index/goods/changeGood')}?good_change=add" data-id="{$item['id']}"
                                class="good-change-btn">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                    <i class="layui-icon">&#xe654;</i>
                                </button>
                            </a>
                            &nbsp;
                            <span class="show-num" data-num="{$item['good_num']}">
                                {$item['good_num']}
                            </span>
                            &nbsp;
                            <a data-url="{:url('/index/goods/changeGood')}?good_change=reduce" class="good-change-btn"
                                data-id="{$item['id']}">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                    <i class="layui-icon">&#xe67e;</i>
                                </button>
                            </a>
                        </div>
                    </td>
                    <td>{$item['good_price']}</td>
                    <td>
                        <a data-url="{:url('/index/goods/changeGood')}&good_change=all" class="good-change-btn"
                            data-id="{$item['id']}">
                            <span class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">删除</span>
                        </a>
                    </td>
                </tr>
                {/volist}
                {/notempty}
                {if empty($goodlist)}
                <tr>
                    <td colspan="11" class="layui-admin-empty-table">列表数据为空</td>
                </tr>
                {/if}
            </tbody>
        </table>
        {$goodlist|raw}
    </div>
    <script src="__PUBLIC_STATIC__/jquery/jquery.min.js"></script>
    <script src="__PUBLIC_STATIC__/layui/layui.js"></script>
    <script src="__PUBLIC_STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script>
        // lyui组件
        layui.use(['form', 'element'], function () {
            // var form = layui.form,
            var form = layui.form,
                layer = layui.layer;
            $('.good-change-btn').on('click', function () {
                var order_id = $('.order_id').val();
                var store_id = $('.store_id').val();
                var id = $(this).attr('data-id');
                $.post($(this).attr('data-url'), { order_bind_good_id: $(this).attr('data-id'), order_id: order_id, store_id: store_id }, function (res) {
                    console.log(res);
                    if (res.code !== 200) {
                        layer.msg(res.msg, { time: 2000 });
                    } else {
                        location.reload();
                    }
                })
            })
        })
    </script>

</body>

</html>